<%= render "shared/header" %>

<%= form_with  url: item_comments_path, local: true do |f| %>

<%= f.text_area :message, class:"input-default", id:"comment", placeholder:"レビュー内容", autofocus: true %>

<%= f.collection_select(:point_id, Point.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

<%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

<div class="sell-btn-contents">
      <%= f.submit "投稿する", class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

<% end %>